{% extends 'roombooking/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Index</h1>
    <button onclick="window.location.href='{% url 'room_list' %}'">View All Rooms</button>
    {% if user.is_authenticated %}
        <button onclick="window.location.href='{% url 'dashboard' %}'">Go to Dashboard</button>
        <button onclick="window.location.href='{% url 'logout' %}'">Logout</button>
    {% else %}
        <p>Please <a href="{% url 'registration' %}">register</a> or <a href="{% url 'login' %}">login</a> to see more options.</p>
    {% endif %}
{% endblock %}